<h2>The Book</h2>

<!-- <ul>
  {{#each recipes}}
    <li>{{name}} {{user}}</li>
  {{/each}}
</ul> -->
<h4>
  <ul style="list-style: none;">
    {{#each tableOfContents }}
      <li>{{@key}}</li>
      <ul style="list-style: none;">
        <div class="row">
        {{#each this }}
          <div class="col-xs-2 col-md-1">
            <div class="thumbnail clear">
              <a class="recipe-link clear" href="/cookbook/{{this.id}}">
                <img src="{{this.image}}">
                <div class="caption clear">
                  <h5 class="clear">{{this.name}}</h5>
                </div>
              </a>
                <form class="" action="/cookbook/delete/{{this.id}}" method="post">
                  <button type="submit" name="delete" class="clear btn btn-default">Delete</button>
                </form>
            </div>
          </div>
        {{/each }}
        </div>
      </ul>
    {{/each}}
  </ul>
</h4>

<h3>Add recipe</h3>
<form class="form-group url-search" action="/cookbook/new/scrape" method="post">
 <p>
   <label for="image">URL:</label>
   <input id="urlValue" type="text" name="url" value="">
   <button type="submit" name="submit">Submit</button>
 </p>

</form>

<form class="new-recipe-search" action="/cookbook/new/api" method="get">
  <p>
    <label for="search">Search for a recipe:</label>
    <input type="text" name="searchCriteria" placeholder="Search">
    <button type="submit">Search</button>
  </p>
</form>

<div class="searchResultsApp">

</div>

<script src="/main.js"></script>
